bin/
.bundle/
config/
gems/
logs/
node_modules/
tmp/
.DS_Store
eboptions*
*.log
.mysqlProxySock
*.out
*.sql_log
escholApi.pid

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
