bin/
.bundle/
config/
dist/
gems/
logs/
node_modules/
tmp/
.DS_Store
eboptions*
*.log
.mysqlProxySock
*.out
*.sql_log
escholApi.pid
env.sh
.ruby-version
public/node_modules
public/stylesheets/graphiql.css

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

