bin/
.bundle/
config/
gems/
logs/
node_modules/
tmp/
.DS_Store
*.log
.mysqlProxySock
*.out
*.sql_log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
